body{
   
    background:red;
    
}
form{
    background-color: brown;
    width: 40%;
    margin-left:20%;
    margin-top: 100px;
    padding: 20px;
}

div input,select{
    float: right;
}
div input[type=radio]{
    float: none;
}

#gender{
    float: right;
 }




